@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");  
/*  */

    .content {  
    grid-area: content; 
    width: 100%; 
    padding: 1em 2em 1em 1em; 
} 
  
 /* ***************************** */
 /* **********styling content header */
  .intro{
      display: flex;
      justify-content: space-between;
      padding: 0 1em 0 2em;
      .insp-btn{
          position: relative;
          height: 3em;
          padding: 10px;
          font-size: clamp(0.5em, 4vw, 0.8em);
          background: rgba(255, 122, 0, 1);
          border: none;
          color: #fff;
          border-radius: 5px;
          animation-duration: 0ms;
          display: none;
          cursor:pointer;
          .fa-x{
            font-size: 20px;
            border: 1px solid;
            border-radius: 50%;
            padding: 10px;
            color: #7f8c8d;
            /* background: #7f8c8d; */
          }
      }
  }
  .generate{
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    background: gainsboro;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
  .generate.orange{
    background: rgb(255, 102, 1);
  }

/* content style */
.content-header p {
  color: #7f8c8d;
  margin-bottom: 3em;
}
    .newInspection-div{
      display: flex;
      gap: 1cap;
      width: 50%;
      padding: 2em;

      justify-content: center;
      margin: auto;
    }
    .newInspection{
      width: 40%;
      padding: 40px 0;
      border-radius: 10px;
      text-align: center;
      margin: 0 auto;
      cursor: pointer;
      
    }
    .classes-img{
      width: auto;
      border: 1px solid rgba(127, 139, 148, 1);
      border-radius: 50px;
      padding: 10px;
      margin:0 auto;
    }
    .highlight{
      border: 1px solid orangered;
      
    }
    .dropdown-class{
      display: flex;
      flex-direction: column;
      width: 45%;
      padding: 2em;
      justify-content: center;
      margin: auto;
    }
    .dropdown-ops{
      cursor: pointer;
      width: 100%;
      padding: 5px;
      border: 1px solid rgba(238, 238, 238, 1);
      outline: none;
    }
    @media screen and (max-width:1023px) {
      .content {  
        width: 100%; 
        padding: 1em 2em 1em 4em; 
    } 
      .intro{
        position: relative;
        margin-top: 1em;
        padding-right: -5em;
        left: -1em;
        margin-bottom: -20px;
      }
      .newInspection-div{
      display: flex;
      gap: 2cap;
      width: 70%;
      padding: 0 20px;
      justify-content: center;
      margin: 0 auto;
    }
    .newInspection{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 35%;
    }
    .classes-img{
      width: 80%;
      border: 1px solid rgba(127, 139, 148, 1);
      border-radius: 50px;
      padding: 1.5cap;
      margin:1cap 20em;
      text-align: center;
    }
    .classes-img p{
      margin: 0 25em;
    }
    .dropdown-class{
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 20px;
      justify-content: center;
      margin: auto;
    }
    }
    @media screen and (max-width:600px) {
      .content {  
        width: 100%; 
        padding: 1em 2em 1em 2em; 
    } 
      .intro{
        margin-top: 4em;
        font-size: 1.2cap;
        padding: 0;
      }
      .newInspection-div{
      display: flex;
      gap: 1cap;
      width: 70%;
      padding: 20px 0px;
      justify-content: center;
      margin: 0 auto;
    }
    .newInspection{
      width: 65%;
      padding: 1cap;
      border-radius: 10px;
      text-align: center;
      margin: auto;
    }
    .dropdown-class{
      display: flex;
      flex-direction: column;
      width: 85%;
      padding: 20px;
      justify-content: center;
      margin: auto;
    }
    }
