@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");  
/*  */


.content {  
    grid-area: content; 
    width: 100%; 
    padding: 3em 2em 1em 4em; 
} 
  
 /* ***************************** */
 /* **********styling content header */
  .intro{
      display: flex;
      justify-content: space-between;
      .insp-btn{
          position: relative;
          height: 3em;
          padding: 10px;
          font-size: clamp(0.5em, 4vw, 0.8em);
          background: rgba(255, 122, 0, 1);
          border: none;
          color: #fff;
          border-radius: 5px;
          animation-duration: 0ms;
          cursor:pointer;
          .fa-plus{
            margin-right: 10px;
          }
      }
  }
/* content style */
.content-header p {
  color: #7f8c8d;
  margin-bottom: 3em;
}
.filterss {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 30%;
  margin-bottom: 10px;
  align-items: center;
  border: 1px solid;
}

.filter-btn {
  border: none;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1em;
  background: transparent;
  &:hover{
      background-color: #ffffff;
      
  }
}
.status-btn{
  width: 70%;
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 0.2em;
  border-radius: 5px;
}

.filter-btn.active {
  border-color: #2980b9;
  color: #2980b9;
}
.filters-options{
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: end;
}
.search-bar {
  border-radius: 5px;
  width: 30%;
  border: 1px solid #bdc3c7;
}
.filter-dropdown {
  width: 25%;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  select{
    margin: 0 auto;
    border: none;
    outline: none;
  }
}
.status.ongoing {
  background-color: rgba(255, 222, 191, 1);
  color:orangered;
  padding: 0.5em;
  border-radius: 5px;
}
.status.completed {
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgba(236, 253, 243, 1);
  color: green;
}

/* styling content */
.table-container {
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding-bottom: 200px;
    overflow-x: auto;
  }
  table {
    border: none;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    position: sticky;
  }
  
  tr:not(:last-child) , th, td{
    padding: 0.8em;
    text-align: left;
    border-bottom: 1px solid #ddd; 
  }
  
  th {
    font-weight: bold;
    font-size: 14px;
    color: #7f8c8d;
  }
  
  td {
    font-size: 14px;
    color: rgb(36, 36, 36);
  }
button{
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
/* phone style */
@media only screen and (max-width: 600px) {
  .content {  
    grid-area: content; 
    width: 100%; 
    padding: 5em 2em 1em 2em; 
} 
.filterss {
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  border: none;
}

.filter-btn {
  border: none;
  color: #000;
  border-radius: 5px;
  padding: 5px 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.9em;
  background: transparent;
  &:hover{
      background-color: #ffffff;
      
  }
}
.filters-options{
  width: 100%;
  display: none;
  padding: 2px 2px;
  gap: 1em;
  
}

}
/* tablet style */
@media only screen and (min-width: 601px) and (max-width: 1104px) {
  .filterss {
    max-width: 100%;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid;
  }
}

