@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");  
/*  */


.content {  
    grid-area: content; 
    width: 100%; 
    padding: 3em 2em 1em 4em; 
} 
  
 /* ***************************** */
 /* **********styling content header */
  .intro{
      display: flex;
      justify-content: space-between;
      .insp-btn{
          position: relative;
          height: 3em;
          padding: 10px;
          font-size: clamp(0.5em, 4vw, 0.8em);
          background: rgba(255, 122, 0, 1);
          border: none;
          color: #fff;
          border-radius: 5px;
          animation-duration: 0ms;
          cursor:pointer;
          .fa-plus{
            margin-right: 10px;
          }
      }
  }
/* content style */
.content-header p {
  color: #7f8c8d;
  margin-bottom: 3em;
}
.filterss {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;  
}

.filter-btn {
  border: none;
  color: #000;
  border-radius: 5px;
  padding:2px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 1em;
  background: transparent;
  &:hover{
      background-color: #ffffff;
      
  }
}
.status-btn{
  display: flex;
  justify-content: space-between;
  background: #f1f1f1;
  padding: 0.2em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.filter-btn.active {
  border-color: #2980b9;
  color: #2980b9;
}
.filters-options{
  display: flex;
  gap: 1em;
}
.search-bar {
  border-radius: 5px;
  border: 1px solid #bdc3c7;
}
.filter-dropdown {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  select{
    margin: 0 auto;
    border: none;
    outline: none;
  }
}
.status.ongoing {
  background-color: rgba(255, 222, 191, 1);
  color:orangered;
  padding: 0.5em;
  border-radius: 5px;
}
.status.completed {
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgba(236, 253, 243, 1);
  color: green;
}

/* styling content */
.table-container {
    border-radius: 10px;
    border: 1px solid gainsboro;
    padding-bottom: 200px;
    overflow-x: auto;
  }
  table {
    border: none;
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    position: sticky;
  }
  
  tr:not(:last-child) , th, td{
    padding: 0.8em;
    text-align: left;
    border-bottom: 1px solid #ddd; 
  }
  
  th {
    font-weight: bold;
    font-size: 14px;
    color: #7f8c8d;
  }
  
  td {
    font-size: 14px;
    color: rgb(36, 36, 36);
  }
button{
  display: flex;
  align-items: center;
  padding: 3px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
 
@media only screen and (max-width: 320px) {  
  /* Styles for small smartphones */  
  .intro{
    font-size: 0.7em;
    gap: 10px;
  }
  .intro .insp-btn{
    font-size: 0.7em;
  }
 .content {  
  padding: 6em 1em 1em 1em; 
  }  
 .filterss {  
  flex-wrap: wrap; 
  border: none; 
  width: 100%;
  }  
 .status-btn, .filter-bt { 
  background: ghostwhite; 
  font-size: 0.8em;  
  padding: 3px 5px; 
  width: 100%; 
  }  
 .filters-options { 
  display: none;  
  }  
}  
  
@media only screen and (max-width: 480px) {  
  /* Styles for medium smartphones */  
 .content {  
  padding: 4em 1.5em 1em 1.5em;  
  }  
 .filterss {  
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;  
  }  
 .filter-btn {  
  font-size: 0.9em;  
 padding: 4px 6px;  
  }  
 .filters-options {  
 display: none;  
  }  
}  
  
/* Tablets */  
@media only screen and (min-width: 601px) and (max-width: 768px) {  
  /* Styles for small tablets */  
 .content {  
 padding: 3em 2em 1em 2em;  
  }  
 .filterss {  
  justify-content: center;  
  }  
 .filter-btn {  
  font-size: 1em;  
  padding: 5px 8px;  
  }  
 .filters-options {  
  display: flex;  
  gap: 1em;  
  }  
  
}  
  
@media only screen and (min-width: 769px) and (max-width: 1104px) {  
  /* Styles for large tablets */  
 .content {  
  padding: 3em 2em 1em 3em;  
  }  
  .status-btn{
    background: ghostwhite;
  }
 .filterss {  
  font-size: 1em;
  justify-content: center; 
  }  
 .filter-btn {  
  font-size: 1em;  
  padding: 4px 8px;  
  }  
 .filters-options { 
  gap: 1em;  
  }  
}  

